<div class="background-secondary3 login-container">
  <div class="row no-margin">
    <div class="col-xs-7 login-img"></div>
    <div class="col-xs-4">
      <mat-horizontal-stepper #stepper class="login-div">
        <mat-step [stepControl]="fg" label="Sign Up">
            <form [formGroup]="fg" class="row no-margin full-width pt3 ">
              <p class="center col-xs-12 mat-display-1 text-primary title">Sign Up</p>
              <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required type="text" />
              </mat-form-field>
              <div *ngIf="fg.get('name')?.invalid && (fg.get('name')?.dirty || fg.get('name')?.touched)" class="text-danger mat-caption">
                <div *ngIf="fg.get('name')?.errors?.required">
                  Please enter your name
                </div>
                <div *ngIf="fg.get('name')?.errors?.min">
                  name must be more than 4 character
                </div>
                <div *ngIf="fg.get('name')?.errors?.max">
                  name must be less than 5 character
                </div>
              </div>
              <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mt4">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" required type="number" />
              </mat-form-field>
              <div *ngIf="fg.get('phone')?.invalid && (fg.get('phone')?.dirty || fg.get('phone')?.touched)" class="text-danger mat-caption">
                <div *ngIf="fg.get('phone')?.errors?.required">
                  Please enter your phone
                </div>
                <div *ngIf="fg.get('password')?.errors?.min || fg.get('password')?.errors?.max">
                  password must be 10 character
                </div>
              </div>
              <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mt4">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required type="email" />
              </mat-form-field>
              <div *ngIf="fg.get('email')?.invalid && (fg.get('email')?.dirty || fg.get('email')?.touched)" class="text-danger mat-caption">
                <div *ngIf="fg.get('email')?.errors?.required">
                  Please enter your email
                </div>
              </div>
              <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mt4">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required type="password" />
              </mat-form-field>
              <div *ngIf="fg.get('password')?.invalid && (fg.get('password')?.dirty || fg.get('password')?.touched)" class="text-danger mat-caption">
                <div *ngIf="fg.get('password')?.errors?.required">
                  Please enter your password
                </div>
                <div *ngIf="fg.get('password')?.errors?.min">
                  password must be more than 4 character
                </div>
                <div *ngIf="fg.get('password')?.errors?.max">
                  password must be less than 5 character
                </div>
              </div>
              <div class="col-xs-12 submit-button center mt4">
                <button mat-button matStepperNext class="center btn-lg full-width btn-primary btn">Next</button>
              </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="fg" label="Team Details">
          <form [formGroup]="fg" class="row no-margin full-width pt12">
            <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12">
              <mat-label>Team Name</mat-label>
              <input matInput formControlName="teamName" required type="text" />
            </mat-form-field>
            <div *ngIf="fg.get('teamName')?.invalid && (fg.get('teamName')?.dirty || fg.get('teamName')?.touched)" class="text-danger mat-caption">
              <div *ngIf="fg.get('teamName')?.errors?.required">
                Please enter your team name
              </div>
              <div *ngIf="fg.get('teamName')?.errors?.min">
                team Name must be more than 4 character
              </div>
              <div *ngIf="fg.get('teamName')?.errors?.max">
                team Name must be less than 10 character
              </div>
            </div>
            <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mt4">
              <mat-label>Project Name</mat-label>
              <input matInput formControlName="projectName" required type="text" />
            </mat-form-field>
            <div *ngIf="fg.get('projectName')?.invalid && (fg.get('projectName')?.dirty || fg.get('projectName')?.touched)" class="text-danger mat-caption">
              <div *ngIf="fg.get('projectName')?.errors?.required">
                Please enter your project Name
              </div>
              <div *ngIf="fg.get('projectName')?.errors?.min">
                project Name must be more than 4 character
              </div>
              <div *ngIf="fg.get('projectName')?.errors?.max">
                project Name must be less than 10 character
              </div>
            </div>
            <div class="row col-xs-12 no-margin justify-content-between mt4">
              <button mat-button matStepperPrevious class="col-sm-5 btn-lg full-width btn-lg full-width btn-outlined-primary btn">Back</button>
              <button mat-button matStepperNext type="button" (click)="onSubmit()" class="col-sm-5 btn-lg full-width btn-lg full-width btn-primary btn">SignUp</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
