  .error-list-cards {
    padding: 30px 20px;

    .error-list-cards-wrapper {
      >* {
        // flex: 0 0 31%;
        margin-bottom: 20px;
      }
    }

    .paginations {
      text-align: center;
    }
  }

  .navbar {
    margin-top: 50px;
    margin-bottom: 50px;
  }
