<mat-card class="error-card mat-typography">
    <div
      mat-card-image
      class="img-container mat-card-strech-section"
    >
    </div>
  
    <mat-card-content class="mat-typography no-margin">
      <div class="card-title">
        oooo
      </div>
  
      <p class="card-address row flex-nowrap card-subtitle">
        <!-- TODO: TRY TO SEE SOME ICON CLOSER OR USE THE BUILDING-LOCATION ON THE SPRITE -->
        <span> ooo, oooo </span>
        <!-- {{ venue.addressLine1 }} -->
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="row">
        <span class="col-xs-6 no-padding">
          <button mat-raised-button color="accent" >
            <span class="mat-caption" translate>general.actions.configure</span>
          </button>
        </span>
        <span class="col-xs-6 no-padding theme-dark-blue-light-grey">
          <button mat-raised-button color="accent" >
            <span class="mat-caption" translate>general.actions.view</span>
            <mat-icon class="ml5">navigate_next</mat-icon>
          </button>
        </span>
      </div>
    </mat-card-actions>
  </mat-card>
  