<form class="no-margin full-width pt12">
  <p class="center col-xs-12 mat-display-1 text-primary title">Team Members</p>
  <div class="row">
    <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-4">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" placeholder="Enter Member Email" required type="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-4">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="name" placeholder="Enter Member Name" required type="text" />
    </mat-form-field>
    <div class="col-xs-4 center">
      <button class="p5 mb4 border-radius-xs full-width background-primary center text-white border-white"
        (click)="onAdd()">Add Member</button>
    </div>
  </div>
  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger mat-caption">
    <div *ngIf="email?.errors?.required">
      Please enter Email
    </div>
  </div>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger mat-caption">
    <div *ngIf="name?.errors?.required">
      Please enter Name
    </div>
  </div>

</form>
<div class="row no-margin full-width pt12" *ngFor="let item of members">
  <div class="col-xs-8">
    <h3>{{item.name}}</h3>
  </div>
  <div class="col-xs-4 center">
    <button class="p5 mb4 border-radius-xs full-width background-danger center text-white border-white"
      (click)="onDelete(item.id)">Delete Member</button>
  </div>
</div>
