.login-img {
}

.login-container {
  min-height: 100vh;background-image: url(../../assets/images/background.png);
  background-repeat: no-repeat;
}

.title {
  margin-top: 30px;
}

.submit-button {
  margin-bottom: 30px;
}

.login-div{
    margin-top: 60px !important;
    height: 550px;
}
