.login-img {
  background-image: url(../../assets/images/profile-img.png);
  background-repeat: no-repeat;
  background-size: 800px;
}

.login-container {
  min-height: 100vh;
}

.title {
  margin-top: 30px;
}

.submit-button {
  margin-bottom: 30px;
}

.login-div{
    margin-top: 90px !important;
}
