<div class="background-secondary3 login-container">
  <div class="row no-margin">
    <div class="col-xs-7 login-img"></div>
    <div class="col-xs-4">


      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="fg" label="Sign Up">
            <form [formGroup]="fg" class="row no-margin full-width pt12 login-div component-main-container">
              <p class="center col-xs-12 mat-display-1 text-primary title">Sign Up</p>
              <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mb4">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required type="text" />
              </mat-form-field>
              <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mb4">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" required type="text" />
              </mat-form-field>
              <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mb4">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required type="email" />
              </mat-form-field>
              <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mb4">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required type="password" />
              </mat-form-field>
              <div class="col-xs-12 submit-button center">
                <button mat-button matStepperNext class="btn-lg full-width background-primary center text-white border-white">Next</button>
              </div>
            </form>

        </mat-step>
        <mat-step [stepControl]="fg" label="Team Details">
          <form [formGroup]="fg">
            <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mb4">
              <mat-label>Team Name</mat-label>
              <input matInput formControlName="name" required type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mb4">
              <mat-label>Project Name</mat-label>
              <input matInput formControlName="name" required type="text" />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
        </mat-step>
      </mat-horizontal-stepper>




    </div>
  </div>
</div>
