.hero {
  background: linear-gradient(180deg, var(--black-800) 0%, var(--black-600) 130%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  overflow-x: hidden;
  width: 100%;
}
