.hero{
    background-image: url(../../assets/images/profile-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    overflow: hidden;
}