$colors : (
    primary: $primary,
    light-primary: $light-primary,
    secondary: $secondary,
    danger: $danger,
    secondary2: $secondary2,
    secondary3: $secondary3,
    'white': $white,
    success: $success,
    warning: $warning,
    purple: $purple,
    black: $black,
    silver: $silver,
);