<form class="row no-margin full-width pt12">
  <p class="center col-xs-12 mat-display-1 text-primary title">Reset Password</p>
  <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-8">
    <mat-label>New Password</mat-label>
    <input matInput [formControl]="control" placeholder="Enter New Password" required type="password"/>
  </mat-form-field>
  <div class="col-xs-4 center">
    <button type="button" class="p5 mb4 border-radius-xs full-width background-primary center text-white border-white" (click)="onSubmit()">Reset</button>
  </div>
</form>