<ng-container *ngIf="alertMessages$ | async as alertMessage">
  <div [ngSwitch]="alertMessage.alertType" class="alertContainer">
    <ng-container *ngSwitchDefault>
      <ngb-alert *ngIf="!closed" data-testid="defaultMessage" (close)="hide()">
        <span translate>
          <h2 class="alert__title">{{ alertMessage.title   }}</h2>
        </span>
        <p class="alert__text">{{ alertMessage.message   }}</p>
      </ngb-alert>
    </ng-container>

    <ng-container *ngSwitchCase="success">
      <ngb-alert *ngIf="!closed" data-testid="successMessage" type="success" (close)="hide()">
        <span class="d-flex align-items-center">
          <app-svg-icon icon="icon-done" class="icon -done"></app-svg-icon>
          <h2 class="alert__title">{{ alertMessage.title   }}</h2>
        </span>
        <p class="alert__text">{{ alertMessage.message   }}</p>
      </ngb-alert>
    </ng-container>

    <ng-container *ngSwitchCase="info">
      <ngb-alert *ngIf="!closed" data-testid="infoMessage" type="info" (close)="hide()">
        <span class="d-flex align-items-center">
          <app-svg-icon icon="icon-info" class="icon -info"></app-svg-icon>
          <h2 class="alert__title">{{ alertMessage.title   }}</h2>
        </span>
        <p class="alert__text">{{ alertMessage.message   }}</p>
      </ngb-alert>
    </ng-container>

    <ng-container *ngSwitchCase="warning">
      <ngb-alert *ngIf="!closed" data-testid="warningMessage" type="warning" (close)="hide()">
        <span class="d-flex align-items-center">
          <app-svg-icon icon="icon-warning" class="icon -warning"></app-svg-icon>
          <h2 class="alert__title">{{ alertMessage.title   }}</h2>
        </span>
        <p class="alert__text">{{ alertMessage.message   }}</p>
      </ngb-alert>
    </ng-container>

    <ng-container *ngSwitchCase="error">
      <ngb-alert *ngIf="!closed" data-testid="errorMessage" type="danger" (close)="hide()">
        <span class="d-flex align-items-center">
          <app-svg-icon icon="icon-error-outline" class="icon -error"></app-svg-icon>
          <h2 class="alert__title">{{ alertMessage.title   }}</h2>
        </span>
        <p class="alert__text">{{ alertMessage.message   }}</p>
      </ngb-alert>
    </ng-container>

  </div>
</ng-container>