<div class="container sidenav-container">
  <div class="d-flex text-primary mt7">
    <h1 class="projects">Projects</h1>
    <span *ngIf="isAdmin$|async" class="material-icons ml-3 cursor-pointer" (click)="addProject()">
      add
    </span>
  </div>
  <div class="full-width mb4 center" *ngFor="let item of projects" (click)="selectProject(item)">
    <div class="row full-width px4 pt3 border-radius-xl" [ngClass]="{'background-light': isProjectSelected(item.id)}">
      <div class="col-sm-4">
        <h3>{{item.name}}</h3>
      </div>
      <span *ngIf="isAdmin$|async" class="material-icons text-silver col-sm-1 mr-2 cursor-pointer" (click)="addProjectTeamMember(item.id)">
        person_add
      </span> 

      <span *ngIf="isAdmin$|async" class="material-icons text-silver col-sm-1 mr-2 cursor-pointer" (click)="deleteProjectTeamMember(item)">
        person_remove
      </span>

      <span *ngIf="isAdmin$|async" class="material-icons col-sm-1 mr-2 cursor-pointer text-warning" (click)="renameProject(item.id)">
        drive_file_rename_outline
      </span>

      <span *ngIf="isAdmin$|async" class="material-icons col-sm-1 mr-2 cursor-pointer text-danger" (click)="deleteProject(item.id)">
        delete
      </span>
      <span class="material-icons col-sm-1 cursor-pointer text-primary" mat-button [matMenuTriggerFor]="menu">
        vpn_key
        </span>
    </div>
    <mat-menu #menu="matMenu" class="cursor-pointer">
      <p mat-menu-item >
        <span class="material-icons mr-2 text-primary" [cdkCopyToClipboard]="item.key">
          content_copy
          </span>
        <span class="text-primary">Project key:</span> {{item.key}}</p>
      <p mat-menu-item>
       <span class="material-icons mr-2 text-primary" [cdkCopyToClipboard]="'7f453dd1b6c12eb143ff59ac94f10df12dfdc24da08063e26e8b19092c528e01'">
        content_copy
        </span>
        <span class="text-primary">Api Secret:</span> "7f453dd1b6c12eb143ff59ac94f10df12dfdc24da08063e26e8b19092c528e01"</p>
      <p mat-menu-item >
      <span class="material-icons mr-2 text-primary" [cdkCopyToClipboard]="'5d9853aaeb074c20fa135b90080485b3f35d83566c23cf4f4fafc895e394d4a1'">
        content_copy
        </span>
        <span class="text-primary">Api Key:</span> "5d9853aaeb074c20fa135b90080485b3f35d83566c23cf4f4fafc895e394d4a1"</p>
    </mat-menu>
  </div>
</div>
