<div class="container sidenav-container">
  <div class="d-flex text-primary mt7">
    <h1 class="projects">Projects</h1>
    <span class="material-icons ml-3 cursor-pointer" (click)="addProject()">
      add
    </span>
  </div>
  <div class="full-width" *ngFor="let item of projects">
    <div class="row full-width">
      <div class="col-sm-5">
        <h3>{{item.name}}</h3>
      </div>
      <span class="material-icons text-silver col-sm-1 mr-3 cursor-pointer" (click)="addProjectTeamMember(item.id)">
        person_add
      </span>

      <span class="material-icons text-silver col-sm-1 mr-3 cursor-pointer" (click)="deleteProjectTeamMember(item)">
        person_remove
      </span>

      <span class="material-icons col-sm-1 mr-3 cursor-pointer text-warning" (click)="renameProject(item.id)">
        drive_file_rename_outline
      </span>

      <span class="material-icons col-sm-1 cursor-pointer text-danger" (click)="deleteProject(item.id)">
        delete
      </span>
    </div>
    <div class="full-width">
      <h3 class="full-width key">key : {{item.key}}</h3>
    </div>
  </div>
</div>
