<form class="row no-margin full-width pt12">
  <p class="center col-xs-12 mat-display-1 text-primary title">Add Member</p>
  <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-8">
    <mat-label>Team Member Name</mat-label>
    <span matPrefix>
      <span class="material-icons">
        person_outline
      </span>
     </span>
    <mat-select class="full-width" [disabled]="users.length===0" [formControl]="control" required>
      <mat-option [value]="item.id" *ngFor="let item of users">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="col-xs-4 center">
    <button class="p5 mb4 border-radius-xs full-width background-primary center text-white border-white"
      (click)="onSubmit()">Add</button>
  </div>
</form>
