<app-action-bar-wrapper>
    <app-action-bar-item alignment="left" >
      <app-labeld-button  label="prevLinkText" iconPosition="left">
        <img src="assets/icons/filters/chevron-right.svg" alt="back" />
      </app-labeld-button>
    </app-action-bar-item>
    <app-action-bar-item alignment="left" >
      <app-labeld-button  label="nextLinkText">
        <img src="assets/icons/filters/chevron-right.svg" alt="advance" />
      </app-labeld-button>
    </app-action-bar-item>
  
  
    <app-action-bar-item alignment="right" >
      <app-labeld-button  appFormValidationTrigger 
        label="venues-app.content-manager.edit-venues-additional-information.save-changes"
        class="labeld-button-success-outlined" [isSaveButton]="true">
      </app-labeld-button>
    </app-action-bar-item>
  </app-action-bar-wrapper>
  