<div class="row">
  <div class="col-sm-6">
    <app-labeld-button label="prevLinkText" iconPosition="left">
      <img src="../../assets/images/chevron-right.svg" alt="back" />
    </app-labeld-button>
  </div>
  <div class="col-sm-3">
    <app-labeld-button label="nextLinkText">
      <img src="../../assets/images/chevron-right.svg" alt="advance" />
    </app-labeld-button>
  </div>


  <div class="col-sm-3">
    <app-labeld-button appFormValidationTrigger label="save" class="labeld-button-success-outlined"
      [isSaveButton]="true">
    </app-labeld-button>
  </div>
</div>
