<div>
    <div  >
      <app-labeld-button  label="prevLinkText" iconPosition="left">
        <img src="../../assets/images/chevron-right.svg" alt="back" />
      </app-labeld-button>
    </div>
    <div  >
      <app-labeld-button  label="nextLinkText">
        <img src="../../assets/images/chevron-left.svg" alt="advance" />
      </app-labeld-button>
    </div>
  
  
    <div  >
      <app-labeld-button  appFormValidationTrigger 
        label="venues-app.content-manager.edit-venues-additional-information.save-changes"
        class="labeld-button-success-outlined" [isSaveButton]="true">
      </app-labeld-button>
    </div>
  </div>
  