<form class="row no-margin full-width pt12">
  <p class="center col-xs-12 mat-display-1 text-primary title">Add Team Member</p>
  <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-8">
    <mat-label>Email</mat-label>
    <input matInput formControlName="control" placeholder="Enter Member Email" required type="email" />
  </mat-form-field>
  <div class="col-xs-4 center">
    <button class="p5 mb4 border-radius-xs full-width background-primary center text-white border-white"
      (click)="onAdd()">Add Member</button>
  </div>
</form>
<div class="row no-margin full-width pt12" *ngFor="let item of members">
  <div class="col-xs-8">
    <h3>item</h3>
  </div>
  <div class="col-xs-4 center">
    <button class="p5 mb4 border-radius-xs full-width background-danger center text-white border-white"
      (click)="onDelete(item)">Delete Member</button>
  </div>
</div>