<form class="row no-margin full-width pt12 login-div component-main-container">
    <p class="center col-xs-12 mat-display-1 text-primary title">Add Team Member</p>
    <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-12 mb4">
      <mat-label>Email</mat-label>
      <input matInput formControlName="control" placeholder="enter member email" required type="text"/>
    </mat-form-field>
    <div class="col-xs-12 submit-button center">
      <button class="btn-lg full-width background-primary center text-white border-white" (click)="onSubmit()">Login</button>
    </div>
  </form>