<div class="container sidenav-container">
  <h1 class="text-primary mt-12">Projects</h1>
  <div class="row full-width">
    <div class="col-sm-5">
      <h3>first Project</h3>
    </div>
    <span class="material-icons col-sm-1 mr-3">
      person_add
    </span>

    <span class="material-icons col-sm-1 mr-3">
      person_remove
    </span>

    <span class="material-icons col-sm-1 mr-3">
      drive_file_rename_outline
    </span>

    <span class="material-icons col-sm-1">
      delete
    </span>
  </div>


</div>
