<mat-card class="error-card mat-typography">
  <div mat-card-image class="img-container mat-card-strech-section"
    [appCardImagePlaceHolder]="'../../assets/images/logo.png'">
    <div class="error"></div>
  </div>

  <mat-card-content class="mat-typography no-margin">
    <div class="card-title">
      {{error?.fileName}}
    </div>

    <p class="card-address flex-nowrap card-subtitle">
      <span>{{error?.description}} </span>
    </p>
    <mat-form-field *ngIf="isAdmin$|async" appearance="outline" [floatLabel]="'always'" class="full-width">
      <mat-label>Assign To Member</mat-label>
      <span matPrefix>
        <span class="material-icons">
          person_outline
        </span>
      </span>
      <mat-select class="full-width" (valueChange)="AssignError($event)" [disabled]="users.length===0" required>
        <mat-option [value]="item.id" *ngFor="let item of users">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions *ngIf="isAdmin$ |async">
    <div class="row">
      <span class="col-xs-12 no-padding theme-dark-blue-light-grey">
        <button mat-raised-button color="danger" class="text-white" (click)="onDelete(error.id)">
          <span class="mat-caption">Delete</span>
          <mat-icon class="ml5">delete_outline</mat-icon>
        </button>
      </span>
    </div>
  </mat-card-actions>
</mat-card>
