@import "~@angular/material/theming";

@mixin mat-card-custom-typography($theme, $typography) {
    .card-image-placeholder {
        background-size: contain !important;
        background-position: center !important;
        background-color: $secondary3;
    }

    .card-image {
        background-size: contain;
        background-position: center center;
        background-color: $secondary3;
    }
}
