<form class="row no-margin full-width pt12">
  <p class="center col-xs-12 mat-display-1 text-primary title">Rename Project</p>
  <mat-form-field appearance="outline" [floatLabel]="'always'" class="col-xs-8">
    <mat-label>New Name</mat-label>
    <input matInput [formControl]="control" placeholder="Enter Project Name" required type="email"/>
  </mat-form-field>
  <div class="col-xs-4 center">
    <button class="p5 mb4 border-radius-xs full-width background-primary center text-white border-white" (click)="onSubmit()">Rename</button>
  </div>
</form>